<!DOCTYPE html>
<html xlmns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add a Job</title>
</head>
<body>

	<form action="#" th:action="@{/saveJob}" th:object="${jobOpportunity}" method="post">
	
   		Job Title: <input type="text" id="jobTitle" name="jobTitle" th:value="*{jobTitle}" /> <br />
   		Job Description: <textarea id="jobDescription" name="jobDescription" th:value="*{jobDescription}"> </textarea><br />
   		Employer: <input type="text" id="employer" name="employer" th:value="*{employer}" /> <br />
		Company Address: <input type="text" id="companyAddress" name="companyAddress" th:value="*{companyAddress}" /> <br />
  
   		Contact Name: <input type="text" id="contactName" name="contactName" th:value="*{contactName}" /> <br />
		Contact Phone: <input type="text" id="contactPhone" name="contactPhone" th:value="*{contactPhone}" /> <br />
   		
   		Employment Type: 
   		<select th:field="*{type}" id="type" name="type">
  			<!--<option selected="selected" value="FULLTIME">Full Time</option>   	  			   	
        	<option value="PARTIME">Part Time</option>-->
        	
        	<option th:each="type : ${T(ca.sheridancollege.javafinalproject.beans.JobOpportunity.EmploymentType).values()}"
			th:value="${type}" 
        	th:text="${type}"></option>
		</select> <br>
		<!-- 
		
		-->
		
   		Salary: <input type="number" id="annualSalary" name="annualSalary" th:value="*{annualSalary}" />
   		   		
   		
   		Hourly Rate: <input type="number" id="hourlyRate" name="hourlyRate" th:value="*{hourlyRate}" />
   		
   		<button name="submit" type="submit">Submit</button>
   		
   		
   		
   		
   		
	</form>

</body>
</html>