<!DOCTYPE html>
<html xlmns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>JAVAFINAL</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<h1>Spring MVC 5 - Thymeleaf Hello World Example</h1>
	<p th:text="${message}">The message goes here...</p>
	
	<a th:href="@{/addJob}">Create a Job.</a>
	<a th:href="@{/addApplicant}">Create an Applicant.</a>
	
	<a th:href="@{/second}">Click to go to second page.</a>
</body>
</html>