<!DOCTYPE html>
<html xlmns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Second</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<script defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<h3>At second page.</h3>


	<div class="columns is-multiline">
		<div class="column is-one-quarter" th:each="ja: ${appl}">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png"
							alt="Placeholder image">
					</figure>
				</div>
				<div class="card-content">
					<div class="media">
						<div class="media-left">
							<figure class="image is-48x48">
								<img src="https://bulma.io/images/placeholders/96x96.png"
									alt="Placeholder image">
							</figure>
						</div>
						<div class="media-content">
							<p class="title is-4" th:text="${ja.name}">John Smith</p>
							<p class="subtitle is-6" th:text="${ja.emailAddress}">@johnsmith</p>
						</div>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
						nec iaculis mauris. <br>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a th:href="@{/}">Click to go back.</a>
</body>
</html>